.form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 100px auto;
    gap: 15px;
}

/* input:valid {
    background-color: palegreen;
  }
   */
  input:invalid {
    background-color: lightpink;
  }
  